<main class="container">
  <div class="container-fluid jumbotron addStyle">
    <div class="row">
      <div class="col text-center p-5">
          <h1 class="fw-bold">Hello World!</h1>
          <p class="lead">Welcome to Task Management App</p>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-3">
      <h1>
        AKTask
      </h1>
      <hr>
      <h3>
        AKTask is the ultimate task management solution that helps you stay organized, focused, and on top of your to-do list. Whether you're a busy professional, a student, or a team leader, our app provides the tools you need to manage tasks efficiently and achieve your goals effortlessly.
      </h3>
      <hr>
      <h3><b>Get Started Today!</b></h3>
      <h4>
        Sign up for a free trial and experience the power of AKTask. <br>
        Take control of your tasks, manage projects efficiently, and unlock your true potential for success.
      </h4>
      <hr>
      <a routerLink="/register" class="btn btn-primary btn-sm">REGISTER</a>
    </div>
    <div class="col-md-6 img-display">
      <img
        src="../../assets/images/one.png"
        alt="Image of some boards as a demo to the user"
      />
    </div>
  </div>
</main>
